.inputTask {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  background: #ffe995;
  border-right: 5px;
  min-height: 80px;
  opacity: 0.9;
  box-shadow: 2px 1px 8px 2px #000;
  &Image {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 5px;
  }

  &Label {
    display: grid;
    grid-template-columns: auto 1fr 50px 50px 50px;
    align-items: center;
    padding: 25px 15px 15px;
    cursor: pointer;
    min-height: 40px;
  }

  &Checkbox {
    width: 20px;
    height: 15px;
    cursor: pointer;
  }

  &Title {
    width: 100%;
    padding: 5px;
    line-height: 1.2;
    word-break: break-word;

  }

  &EditTitle {
    font: 1rem/1em 'Roboto', sans-serif;
    border: none;
    padding: 5px;
    box-shadow: 0 4px 0 -3px #000;
    outline: none;
    background: none;
  }
  &Time, &Edit, &Remove, &Save {
    height: 100%;
    display: block;
    border: none;
    background: none no-repeat center;
    cursor: pointer;
    padding: 0;
    opacity: 0.5;
    transition: 0.5s;

    &:hover {
      opacity: 0.2;
      transition: 0.5s;
    }
  }

  &Time {
    background-image: url("../../../assets/icons/time-main.svg");

  }

  &Edit {
    background-image: url("../../../assets/icons/edit.svg");

  }

  &Remove {
    background-image: url("../../../assets/icons/trash.svg");
  }

  &Save {
    background-image: url("../../../assets/icons/check.svg");
  }

  &TimeModeOn {
    position: relative;
    height: 50px;
    padding-bottom: 20px;
    bottom: 0;
    opacity: 1;
    transition: 1s, opacity 2.5s;
  }
  &TimeModeOff {
    height: 0;
    bottom: 50px;
    opacity: 0;
    transition: 1s, opacity 0.5s;
  }
}